.TypeToSpeakWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: repeating-linear-gradient(48deg, grey, red 30%, blue 75%, transparent);

    .notes {
        margin: 20px 0;
        padding: 10px;
        font-size: 28px;
        font-weight: 800;
        font-style: oblique;
        text-align: center;
        text-shadow: 2px 2px 5px #333;
        letter-spacing: 1px;
        word-spacing: 1px;
        color: bisque;
        border-radius: 20px;
        background: linear-gradient(45deg, #799d15, #e40c0c52);
        ;
        box-shadow: 1px 1px 5px #161617de;
    }

    .inputBox {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        textarea {
            border: none;
            font-size: 56px;
            font-weight: 800;
            background: none;
            outline: none;
            text-align: center;
            font-style: italic;
            width: 90vw;
            height: 43vh;
            border-radius: 40px;
            padding: 20px;
            box-shadow: 2px 2px 9px #000, -1px 0px 6px #222;
        }

        .btnWrapper {
            text-align: center;
            margin-top: 20px;
            display: flex;

            .btn {
                border: none;
                padding: 10px;
                margin: 20px 10px;
                border-radius: 10px;
                box-shadow: 1px 1px 5px #e10;
                font-size: 20px;
                font-weight: 800;
                background: linear-gradient(289deg, green 20%, #821226 80%, transparent);
                color: white;
            }
        }
    }
}