.userContainer{
    padding: 50px;
    font-family: Helvetica, sans-serif;
    background-color: #ddfafa;
    h2 {
        color: red;
        text-align: center;
    }
    .listContainer{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .list{
            // border: 1px solid gray;
            // margin-bottom: 20px;
            padding: 10px;
            width: 350px;
            border-radius: 5px;
            box-shadow: 1px 0px 8px 1px #a4aff1;
            background: #fffaf0;
            .name{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: -16px;
            }
            .username{
                color: gray;
                font-style: italic;
                
            }
            .details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    margin-block-start: -1px;
                }
                p:first-child {
                    font-size: 14px;
                }
                p:last-child {
                    font-style: italic;
                }
            }
        }
    }
}