.container {
        background: url('../../../assets/img/online_learning.webp') no-repeat center center fixed;
        background-size: contain;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}