.rainbow_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;

    .rainbow_color_box {
        width: 200px;
        height: 200px;
        border: 1px solid #ddd;
        border-radius: 50px;
        // display: flex;
        // justify-content: center;
        // align-items: start;
        cursor: pointer;

        .imageWrap {
            display: flex;
            justify-content: center;
        }

        .pigment {
            background-color: wheat;
            text-align: center;
            font-size: large;
            font-weight: 700;
            width: 80%;
            border-radius: 10px;
            // margin-top: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 20px auto;
        }
    }
}


.modal_base {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

// .pigment_modal {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 80%;
//     height: 80vh;
//     margin: 0 auto;
//     border-radius: 50px;
//     box-shadow: 15px 15px 20px #333;
//     z-index: 10;

//     .closeBtn {
//         cursor: pointer;
//         font-weight: 500;
//         padding: 4px 8px;
//         border-radius: 8px;
//         border: none;
//         font-size: 18px;
//         color: #2c3e50;
//         background: white;
//         transition: all 0.25s ease;
//         box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
//         position: absolute;
//         right: 0;
//         top: 0;
//         align-self: flex-end;
//         margin-top: 10px;
//         margin-right: 30px;
//     }

//     .closeBtn:hover {
//         box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
//         transform: translate(-4px, 4px);
//     }

//     .modalContent {
//         padding: 10px;
//         font-size: 50px;
//         font-weight: 800;
//         font-style: oblique;
//         color: #2c3e50;
//         height: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }

.rainbow_modal_wrapper {
    .closeBtn {
        cursor: pointer;
        font-weight: 500;
        padding: 4px 8px;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        color: #2c3e50;
        background: white;
        transition: all 0.25s ease;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
        position: absolute;
        right: 0;
        top: 0;
        align-self: flex-end;
        margin-top: 10px;
        margin-right: 30px;
    }

    .closeBtn:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
        transform: translate(-4px, 4px);
    }

    .modalContent {
        padding: 10px;
        font-size: 50px;
        font-weight: 800;
        font-style: oblique;
        color: #2c3e50;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modalContent {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    border-radius: 16px;
    padding: 10px;
    font-size: 50px;
    font-weight: 800;
    font-style: oblique;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;


    .syllableImages {
        width: fit-content;
        height: 350px;
    }
}