.footer {
    text-align: center;

    .homeBtn {
        border: none;
        padding: 10px;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 4px 4px 7px rgb(7, 6, 6);
        font-size: 20px;
        font-weight: 800;
        background: linear-gradient(132deg, #e44646, #3ff009ba);
        color: white;
    }
}