.container {
    background-color: aquamarine;
}

.inner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    background: #c0c07e;
    border-radius: 10px;
    opacity: 0.9;
    padding: 15px;
}

.input-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.form_input {
    width: 300px;
    height: 36px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #d09d9d, -1px -1px 3px #b96fb7;
    margin-right: 5px;
    padding: 5px;
    font-size: 20px;
  }

  .form_input:focus {
    border: none;
    outline: none;
  }
  
  .submit_btn {
    width: fit-content;
    height: 41px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 3px grey;
  }