.register-header {
    font-size: 30px;
    font-weight: 700;
    color: darkblue;
    margin-bottom: 30px;
}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.name-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.name-wrap label {
    margin-right: 10px;
    color: brown;
    font-weight: 700;
}

.input-wrap {
    flex-direction: column;
}

.gender-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: brown;
    width: 100%;
}